{#src/HospitalBundle/Resources/views/Security/login.html.twig#}
{% extends 'HospitalBundle::main.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div id="login">
        <h1>Inicio de Sesion</h1>
        <form action="{{path('login_check')}}" method="POST">

            <input type="text" id="username" name="_username" value="{{ last_username}}" placeholder="Usuario">

            <input type="password" id="password" name="_password" placeholder="Password">

            <button type="submit">login</button>
            <input type="hidden" name="_target_path" value="/index">
            {% if error %}
                    <div id="error">{{ error.message}}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}