{% extends 'HospitalBundle::main.html.twig'%}

{% block contenido %} 

	<ul id="menu">
		<li><a href="#">Home<span class="flecha">&#9660;</span></a></li>
		<li><a href="#">Pacientes<span class="flecha">&#9660;</span></a>
			<ul>
				<li><a href="">Alta<span class="flecha">&#9660;</span></a></li>
				<li><a href="">Baja<span class="flecha">&#9660;</span></a></li>
				<li><a href="">Algo<span class="flecha">&#9660;</span></a></li>
			</ul>
		</li>
	</ul>

{% endblock %}