body, html{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 150%;
	/*border: 1px solid;*/
	margin-left: 80px;
}
#al{
	width: 1000px;
	text-align: center;
	/*border: 1px solid;*/
}
#section{
	/*border: 1px solid;*/
}
#contenido{
	/*border: 1px solid;*/
	margin: 20px auto;	
	border-radius: 6px;
	padding: 10px;
	width: 950px;
	text-align: center;
}
#sidebar{
	width: 10%;
	height: 100px;
	float: right;
	/*border: 1px solid;*/
}
a{
	color: #333;
	text-decoration: none;
	display: block;
}
#logo{
	width: 250px;
	height: 150px;
	margin-top: 10px;
}
label{
	font-size: 20px;
	font: arial;
	display: inline-block;
	/*border: 1px solid;*/
	float: center;
	margin-top: 5px;
}
table, table td, table tr {
	padding:0px;
	border-spacing: 0px;
}
 
table{
	border:1px black solid;
	border-radius:5px;
	min-width:400px;
	font-family: Helvetica,Arial;
	margin-left: 300px;
	text-align: center;
}
 
table td {
	padding:6px;
}
 
table tr:first-child td:first-child {
	border-radius:5px 0px 0px 0px;
}
 
table tr:first-child td:last-child {
	border-radius:0px 5px 0px 0px;
}
 
table tr:last-child td:first-child {
	border-radius:0px 0px 0px 5px;
}
 
table tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}
 
table td:not(:last-child) {
	border-right:1px #666 solid;
}
 
table tr:nth-child(2n) {
	background: #87CEEB;
}
 
table tr:nth-child(2n+1){
	background: #ADD8E6;
}
 
table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
	background:#E0FFFF;
}
 
table:not(.header) tr {
	text-align: left;
}
 
table.header tr:first-child {
	font-weight: bold;
	color:#fff;
	background-color: #444;
	border-bottom:1px #000 solid;
}
 
table.header tr:nth-child(n+2) {
	text-align: right;
}
input{
	display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
input[type='submit']{
	background-color: #444;
	color: #fff;
	border-radius: 10px;
}
article{
	text-align: center;
}