{% extends 'HospitalBundle::main.html.twig' %}
{% block contenido %}
<h1>Detalles de {{cargos.nombre}} </h1>
		<div id="al">
			<label>Nombre: </label> <label>{{cargos.nombre}}</label><br>
			<label>Descripción: </label> <label>{{cargos.descripcion}}</label><br>
		</div>
		<input type="submit" value="Regresar" onclick="window.location='{{path('hospital_cargo')}}'">
{% endblock %}